<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Public Transport</ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Direction</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-item>
      <ion-icon name="walk" style="font-size: 25px;"></ion-icon>
      <ion-label style="padding: 0 0 0 30px;">Walk Distance</ion-label>
      <ion-chip  color="secondary">
        <ion-icon name="location"></ion-icon>
        <ion-label>0.67 KM</ion-label>
      </ion-chip>     
    </ion-item>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Direction</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-item>
      <ion-icon name="walk" style="font-size: 25px;"></ion-icon>
      <ion-label style="padding: 0 0 0 30px;">Walk Distance</ion-label>
      <ion-chip  color="secondary">
        <ion-icon name="location"></ion-icon>
        <ion-label>200 Meters</ion-label>
      </ion-chip>     
    </ion-item>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Direction</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-item>
      <ion-icon name="walk" style="font-size: 25px;"></ion-icon>
      <ion-label style="padding: 0 0 0 30px;">Walk Distance</ion-label>
      <ion-chip  color="secondary">
        <ion-icon name="location"></ion-icon>
        <ion-label>1.08 KM</ion-label>
      </ion-chip>     
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Direction</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-item>
      <ion-icon name="walk" style="font-size: 25px;"></ion-icon>
      <ion-label style="padding: 0 0 0 30px;">Walk Distance</ion-label>
      <ion-chip  color="secondary">
        <ion-icon name="location"></ion-icon>
        <ion-label>376 Meters</ion-label>
      </ion-chip>     
    </ion-item>
  </ion-card>
  
</ion-content>
