<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Move</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-searchbar placeholder="Enter Pickup Location"></ion-searchbar>
  <ion-searchbar placeholder="Enter Drop Location"></ion-searchbar>

  <!-- iframe maps -->
  <iframe class="iframe-custom" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.726781453992!2d77.60987421508462!3d13.0530552166168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae177eca7756c9%3A0x3507209562ab16f6!2sPresidency%20College!5e0!3m2!1sen!2sin!4v1591298066949!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  <!-- <div id="map_canvas">
    <ion-button ion-button (click)="onButtonClick()">Demo</ion-button>
  </div> -->
  <!-- Tabs -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="transport" class="blue" (click)="navigateTransport()" >
        <ion-icon name="bus"></ion-icon>
        <ion-label>Public</ion-label>
        
      </ion-tab-button>
  
      <ion-tab-button tab="cab" class="blue">
        <ion-icon name="car"></ion-icon>
        <ion-label>Cabs</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="pooling" class="blue">
        <ion-icon name="bicycle"></ion-icon>
        <ion-label>Pooling</ion-label>
      </ion-tab-button>
  
      
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
